:root {
    --color-bg: #e7f0fb;
    --color-bg-yellow: #eec807;
    --color-text: #2a2a2a;
    --color-text-light: #888888;
    --color-accent: #ff4c4c;
    --color-accent-hover: #6b2bd1;
    --color-card-bg: #ffffff;
    --color-btn-text: #ffffff;

    --bp-mobile: 480px;
    --bp-tablet: 768px;
    --bp-desktop: 1280px;
}


body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: Arial, sans-serif;
}

.conteiner {
    text-align: center;
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    margin-bottom: 100px;
}


.button {
    display: flex;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
    padding: 0;
}

/* Header */

.header {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background: linear-gradient(135deg, #2532cb, #fe10a7ac);
    color: var(--color-text);
    padding: 10px 0;
    width: 100%;
}

.header__text {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-text);
    width: 100%;
}

/* hero section*/

.hero-section {
    padding-top: 150px;

}

@media (max-width: 480px) {
    .hero-section {
        padding-top: 200px;
    }

}

.hero-section__title {
    margin-bottom: 20px;
}


.hero-section__interests {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-top: 90px;
    list-style-type: none;
    font-weight: bold;
    gap: 10px;
    flex-wrap: wrap;
}

@media (max-width: 480px) {
    .hero-section__interests {
        margin-top: 60px;
        gap: 50px;
        flex-direction: column;
        align-items: center;
    }

}



.hero-section__item {
    background-color: #f34cff7e;
    padding: 30px 40px 30px 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 200px;
    width: 100%;
}

@media (max-width: 480px) {
    .hero-section__item {
        padding: 10px 20px;
    }
}

/* Skills Section */

.skills {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-weight: bold;
    margin-top: 50px;
}


.skill {
    background-color: var(--color-bg-yellow);
    padding: 30px 40px 30px 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 1;
    max-width: 200px;
    width: 100%;
}

@media (max-width: 480px) {
    .skill {
        padding: 10px 20px;
    }
}

/* about section */

.about-section__cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.about-section__card {
    background-color: var(--color-card-bg);
    border: 1px solid var(--color-text-light);
    padding: 20px;
    border-radius: 15px;
    box-shadow:
        0 0 10px rgba(255, 0, 0, 0.417),
        0 0 20px rgba(0, 128, 0, 0.45),
        0 0 25px rgba(0, 0, 255, 0.40),
        0 0 30px rgba(76, 0, 130, 0.488),
        0 0 35px rgba(238, 130, 238, 0.471);
    margin: 10px;
    flex: 1;
    max-width: 300px;
    width: 100%;
}

/* desires section */

.desires-section {
    width: 100%;
}

.desires-section__item {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin: 40px 0;
    padding: 0 20px;
    flex-wrap: wrap;
}

@media (max-width: 480px) {
    .desires-section__item {
        gap: 20px;
    }

}

.desires-section__image {
    max-width: 400px;
    width: 100%;
    border-radius: 50px 0;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.desires-section__text {
    max-width: 500px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
}

/* Contact Section */

.contact-section__title {
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-text);
}

.contact-section__text {
    margin-top: 20px;
    font-size: 18px;
    color: var(--color-text-light);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.contact-section__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

@media (max-width: 480px) {
    .contact-section__list {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

}

.contact-section__button {
    width: 90%;
    text-align: center;
    margin: 10px 0;
    background-color: var(--color-accent);
    color: var(--color-btn-text);
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    min-width: 124px;
}

@media screen and (max-width: 480px) {
    .contact-section__button {
        padding: 10px 20px;
        font-size: 14px;
        margin-bottom: 5px;

    }

}

.contact-section__button:hover {
    background-color: var(--color-accent-hover);
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(107, 43, 209, 0.5);
}




/* Footer Section */

.footer {
    position: relative;
    text-align: center;
    padding: 20px;
    background-color: var(--color-text);
    color: var(--color-text-light);
}