body {
    font-family: Arial, sans-serif;
    padding: 0;

}

.section {
    margin-bottom: 100px;
    max-width: 1110px;
    width: 100%;
    text-align: center;
}

/* Header */

.header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}


.hero-title {
    padding-left: 50px;
    padding-right: 1060px;
}

.interests {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.github {
    margin-top: 50px;
}

/* Footer Section */

.footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
}